.custom-table {
  table-layout: auto;
  //  border border-[#E6E8EB] bg-white
  @apply w-full overflow-x-auto;
  &__head {
    @apply border-b border-Light;

    &-cell {
      padding: 16px;
      text-align: left;
      @apply text-gray-400;
    }
  }
  &__row {
    @apply border-b border-Light last:border-none;
    &-cell {
      padding: 13px 16px;
    }
  }
}
